/* App.css - Estilos para App.jsx */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos del Header */
.header {
  background-color: #fffb00;
  color: white;
  padding: 20px 10px;
  text-align: center;
}

.header nav ul {
  list-style: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.header nav a:hover {
  color: #c7b9b9;
}

/* Contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
  background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1200px;
  width: 90%;
}

/* Footer */
.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  color: #555;
  font-size: 14px;
  border-top: 1px solid #ddd;
}
